@charset "utf-8";

/* CSS Document */
/*      
use style tag within a head element of html to add inline css    
   			Page Level
            * {}
            Tag Level
            h2 {}
            h1, h2 {}
            Class level
            .column {} 
*/
body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

img {
	border-radius: 50%;
}

#introduction h1, h3 {
	font-style: italic;
}

@media (min-width: 768px) {
  	#introduction-text {
	padding-left: 10rem;
	}
	
}

#introduction {
	margin: 16px;
}

html {
	scroll-behavior: smooth;
	max-width: 1280px;
	margin: 0 auto;
}

